.app {
    display: flex;
    flex: auto;
    flex-direction: column;
    overflow-y: auto;
}

.content { 
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.footer {
    display: flex;
    flex: 0 0 50px;
    border-top: 1px solid gray(90%);
    align-items: center;
}

.movies {
}